@model wyspaBotWebApp.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}


<div>
        @Html.ActionLink("START", "StartBot", "CustomActions")
        @Html.ActionLink("STOP", "StopBot", "CustomActions")
    </div>
<div>
    @if (!string.IsNullOrEmpty(Model.Logs)) {
        @Html.TextAreaFor(x => x.Logs, new {rows = "40", cols = "200", style = "max-width: inherit"})
    }
</div>