@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("START", "StartBot", "Home")
        @Html.ActionLink("STOP", "StopBot", "Home")
    </div>
</div>