@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("START", "StartBot", "CustomActions")
        @Html.ActionLink("STOP", "StopBot", "CustomActions")
        @Html.ActionLink("PERSIST MARKOV STATE", "PersistMarkovState", "CustomActions")
    </div>
</div>